.skills {
  background-color: #81fbff;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.skills-logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  gap: 35px;
  margin-top: 15px;
}

@media screen and (max-width: 970px) {
  .skills {
    background-color: #81fbff;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px;
  }

  .skills-logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    gap: 35px;
    margin-top: 15px;
  }
}
